FilmReviewer/web/WEB-INF/xsd/crawlsource.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://trungtin719.tt/2019/xml"
           xmlns="http://trungtin719.tt/2019/xml"
           elementFormDefault="qualified">
           
    <xs:element name="source">
        <xs:complexType>
            <xs:attribute name="link" type="xs:string"/>
            <xs:attribute name="host" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
